# An example with a wide configuration of a .gitignore file can be found here: https://github.com/KratosMultiphysics/Kratos/blob/master/.gitignore

# Directories
Output/*
Videos/*
*.m~
*.asv
Circle_Mesh.gid/Circle_Mesh.geo
Circle_Mesh.gid/Circle_Mesh.png
Circle_Mesh.gid/Circle_Mesh.tree
Circle_Mesh.gid/Circle_Mesh.vv
