# An example with a wide configuration of a .gitignore file can be found here: https://github.com/KratosMultiphysics/Kratos/blob/master/.gitignore

# Directories
Output/*
Videos/*
__pycache__/*
*.m~
*.asv
AlbertTFG files/opt Kv3_long pol1 test30 learning0_05 hidden1024x1_1 error1e-5.fig
AlbertTFG files/opt Kv3_long pol1 test30 learning0_05 hidden1024x1_1 error1e-5.mat
AbrilTFGfiles/NN/T_NN.mat
AbrilTFGfiles/Data/Material/Isolated/T_NN.mat
